@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    color: #333;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
    vertical-align: top;
}

/*wrap*/
#wrap{
    width: 100%;
    position: relative;
}

/*#header*/
#header{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
}
#header .logo{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header : nav*/
#header .nav{
    width: 1000px;
    height: 100px;
    z-index: 1000;
}
#header .nav > ul {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
}
#header .nav > ul > li{
    position: relative;
}
#header .nav > ul > li > a{
    display: inline-block;
    width: 100%;
    padding: 10px 50px;
    box-sizing: border-box;
    color: blue;
    font-weight: 600;
}
#header .nav > ul > li > a:hover{
    color: aliceblue;
    background-color: blue;
}
#header .nav > ul > li > ul{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    text-align: center;
}
#header .nav > ul > li > ul > li > a{
    display: block;
    padding: 15px;
    box-sizing: border-box;
    background-color:aliceblue ;
}
#header .nav > ul > li > ul > li > a:hover{
    background-color: rgb(205, 205, 255);
    font-weight: 600;
}
.submenu{
    display: none;
}

/*slider*/
#slider{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
}
#slider .sliderWrap{
    width: 100%;
    height: 100%;
    position: relative;
}
#slider .sliderWrap .slider{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    display: none;
}
#slider .sliderWrap .slider:first-child{
    display: block;
}
.s1{
    background-image: url(../images/img1.jpg);
}
.s2{
    background-image: url(../images/img2.jpg);
}
.s3{
    background-image: url(../images/img3.jpg);
}

#slider .sliderWrap .slider > div p{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 18px;
    font-weight: 600;
    color: aliceblue;
    background-color: rgba(0,0,0,0.4);
    padding: 20px;
    box-sizing: border-box;
}

/*contents*/
#contents{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

/*contents : tab-menu*/
#contents .tab-manu{
    width: 400px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
}

/*contents : tab-menu : tab-btn*/
#contents .tab-manu .tab-btn{
    display: flex;
    margin-bottom: 10px;
}
#contents .tab-manu .tab-btn li a{
    font-size: 18px;
    padding-right: 10px;
}
#contents .tab-manu .tab-btn li.active a{
    color: blue;
    font-weight: 600;
}

/*contents : tab-menu : tab-cont*/
#contents .tab-manu .tab-cont .notice > li > a{
    line-height: 1.8;
    display: flex;
    justify-content: space-between;
}
#contents .tab-manu .tab-cont .notice > li > a:hover{
    color: blue;
    text-decoration: underline;
}
#contents .tab-manu .tab-cont .gallery{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
#contents .tab-manu .tab-cont .gallery > li{
    width: 180px;
}
#contents .tab-manu .tab-cont .gallery > li:hover{
    opacity: 0.7;
}

/*contents : banner*/
#contents .banner{
    width: 400px;
    height: 200px;
    position: relative;
}
#contents .banner > a{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: rgba(0,0,0,0.4);
    color: aliceblue;
    font-weight: 600;
}
#contents .banner > a:hover{
    background-color: aliceblue;
    color: #333;
}

/*contents : link*/
#contents .link{
    width: 400px;
    height: 200px;
    position: relative;
}
#contents .link > a{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 50px;
    background-color: rgba(0,0,0,0.4);
    color: aliceblue;
    font-weight: 600;
}
#contents .link > a:hover{
    background-color: aliceblue;
    color: #333;
}

/*footer*/
#footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}
#footer .footer1{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer2{
    width: 1000px;

        
}
#footer .footer2-1{
    width: 100%;
    height: 50px;
    padding-top: 20px;
    box-sizing: border-box;
}
#footer .footer2-1 > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer2-1 > ul > li{
    border-right: #333 solid 1px;
    padding: 0 20px;
    box-sizing: border-box;
}
#footer .footer2-1 > ul > li:last-child{
    border: none;
}

#footer .footer2-2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*popup*/
.popup-view{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    border: #333 solid 2px;
    background-color: aliceblue;
    padding: 20px;
    box-sizing: border-box;
    display: none;
}
.popup-view h4{
    font-size: 18px;
    color: blue;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: blue solid 1px;
}
.popup-view p{
    padding-top: 10px;
    line-height: 1.8;
}
.popup-close{
    padding: 10px 20px;
    background-color: #333;
    color: aliceblue;
    font-weight: 600;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
