@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  color: #333;  
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
    vertical-align: top;
}

/*wrap*/
#wrap{
    display: flex;
    width: 1000px;
    position: relative;
}

/*aside*/
#aside{
    width: 200px;
    height: 650px;
    background-color: #fff7f7;
}

/*aside : logo*/
#aside .logo{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*aside : nav*/
#aside .nav > ul > li > a{
    display: block;
    padding: 10px 50px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
}
#aside .nav > ul > li > a:hover{
    color: pink;
}
#aside .nav > ul > li{
    position: relative;
}
#aside .nav > ul > li > ul{
    width: 200px;
    position: absolute;
    top: 0;
    left: 200px;
    display: none;
    z-index: 1000;
}
#aside .nav > ul > li > ul > li > a{
    font-size: 18px;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(255, 230, 234);
}
#aside .nav > ul > li > ul > li > a:hover{
    font-weight: 600;
    background-color: pink;
}

/*slider*/
#slider{
    width: 800px;
    height: 350px;
    overflow: hidden;
}
#slider .sliderWrap{
    width: 400%;
    height: 100%;
    display: flex;
    overflow: hidden;
}
#slider .sliderWrap .slider{
    width: 800px;
    height: 100%;
    overflow: hidden;
    position: relative;
}
#slider .sliderWrap .s1{
    background-image: url(../images/img1.jpg);
}
#slider .sliderWrap .s2{
    background-image: url(../images/img2.jpg);
}
#slider .sliderWrap .s3{
    background-image: url(../images/img3.jpg);
}
#slider .sliderWrap .slider > h4{
    padding: 20px 40px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    font-size: 18px;
    color: #fff7f7;
}


/*contents*/
#contents{
    width: 800px;
    height: 200px;
    display: flex;
}

/*contents : notice*/
#contents .notice{
    width: 300px;
    height: 200px;
    background-color: #fff7f7;
    padding: 20px;
    box-sizing: border-box;
    border-left: palevioletred solid 1px;
}
#contents h4{
    font-size: 18px;
    padding-bottom: 10px;
    box-sizing: border-box;
    color: palevioletred;
}
#contents .notice > ul > li {
    display: block;
}
#contents .notice > ul > li > a{
    line-height: 1.8;
    display: flex;
    justify-content: space-between;
}
#contents .notice > ul > li > a:hover{
    color: palevioletred;
    text-decoration: underline;
}

/*contents : gallery*/
#contents .gallery{
    width: 300px;
    height: 200px;
    background-color: #fff7f7;
    padding: 20px;
    box-sizing: border-box;
    border-left: palevioletred solid 1px;
}
#contents .gallery > ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}
#contents .gallery > ul > li{
    width: 200px;
}
#contents .gallery > ul > li:hover{
    opacity: 0.7;
}

/*banner*/
.banner{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/banner.jpg);
}
.banner > a{
    background-color: rgba(255, 135, 169, 0.7);
    color: #fff7f7;
    font-weight: 600;
    padding: 10px 20px;
    box-sizing: border-box;
}
.banner > a:hover{
    background-color: rgba(255, 135, 169, 1);
}

/*footer*/
#footer{
    width: 800px;
    display: flex;
    background-color: palevioletred
}
#footer .footer1{
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer2{
    width: 70%;
}
#footer .footer2 .footer2-1{
    width: 100%;
    height: 50px;
    display: block;
}
#footer .footer2 .footer2-1 > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer2 .footer2-1 > ul > li{
    padding: 0 10px;
    margin-top: 20px;
}
#footer .footer2 .footer2-2{
    width: 100%;
    height: 50px;
}
#footer .footer2 .footer2-2 p{
    text-align: center;
}

/*popup*/
.popup-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    background-color: palevioletred;
    border: #333 solid 2px;
    padding: 20px;
    box-sizing: border-box;
    display: none;
}
.popup-view > h4{
    font-size: 18px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: #fff7f7 1px solid;
    color: #fff7f7;
}
.popup-view > p{
    line-height: 1.8;
    color: #fff7f7;
    padding-top: 10px;
    box-sizing: border-box;
}
.popup-close{
    background-color: #fff7f7;
    font-weight: 600;
    padding: 10px 20px;
    box-sizing: border-box;
    position: absolute;
    right: 20px;
    bottom: 20px;
}