@charset "UTF-8";

/*reset*/
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
img{
    vertical-align: top;
    width: 100%;
}

/*wrap*/
#wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/*header*/
#header{
    width: 100%;
    display: flex;
    background-color: #0c51a6;
}
#header .logo{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header .logo > a > img{
    width: 200px;
    height: 40px;
}
#header .nav{
    width: 80%;
    height: 100px;
    position: relative;
    z-index: 1000;
}
#header .nav > ul{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}
#header .nav > ul > li{
    position: relative;
}
#header .nav > ul > li > a{
    color: #fff;
    padding: 10px 45px;
    background-color: #0a4288;
    display: block;
}
#header .nav > ul > li > a:hover{
    background-color: #126bd8;
}
#header .nav > ul > li > ul {
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 100%;
    text-align: center;
    display: none;
}
#header .nav > ul > li > ul > li > a{
    padding: 10px 20px;
    display: block;
}
#header .nav > ul > li > ul > li > a:hover{
    background-color: #c0dcff;
}

/*slider*/
#slider{
    width: 100%;
    height: 300px;
}
.sliderWrap{
    position: relative;
}
.sliderWrap .slider{
    position: absolute;
    top: 0;
    left: 0;
}
.sliderWrap > div{
    display: none;
}
.sliderWrap > div:first-child{
    display: block;
}
.sliderWrap .slider > p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgba(0, 25, 78, 0.4);
    color: #fff;
    font-size: 16px;
}

/*contents*/
#contents{
    width: 100%;
    display: flex;
    box-sizing: border-box;    
}

/*contents : info*/
#contents .info {
    width: 400px;
    height: 200px;
    background-color: #d2e7fe;
    padding: 20px;
    box-sizing: border-box;
}
#contents .info .info-btn{
    margin-bottom: 10px;
}
#contents .info .info-btn a{
    font-size: 20px;
}
#contents .info .info-btn a.active{
    text-decoration: underline;
}
#contents .info .info-cont .notice{
    display: none;
}
#contents .info .info-cont .notice li{
    display: flex;
    font-size: 16px;
    line-height: 1.8;
}
#contents .info .info-cont .notice li a{
    width: 75%;
}
#contents .info .info-cont .notice li a:hover{
    text-decoration: underline;
}
#contents .info .info-cont .notice li span{
    width: 25%;
    text-align: right;
}
#contents .info .info-cont .gallery ul{
    display: flex;
    justify-content: space-between;
}
#contents .info .info-cont .gallery ul li a{
    border: 2px solid transparent;
    display: block;
}
#contents .info .info-cont .gallery ul li a:hover{
    border-color: #0a4288;
}

/*contents : banner*/
#contents .banner{
    width: 400px;
    height: 200px;
    background-image: url(../images/banner.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contents .banner h3{
    color: #fff;
    font-size: 25px;
}
#contents .banner a{
    background-color: rgba(0,0,0,0.4);
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 10px;
    color: #fff;
}
#contents .banner a:hover{
    background-color: rgba(0,0,0,1);
}

/*contents : link*/
#contents .link{
    width: 400px;
    height: 200px;
    background-image: url(../images/direct.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contents .link h3{
    color: #fff;
    font-size: 25px;
}
#contents .link a{
    background-color: rgba(0,0,0,0.4);
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 10px;
    color: #fff;
}
#contents .link a:hover{
    background-color: rgba(0,0,0,1);
}

/*footer*/
#footer{
    width: 100%;
    display: flex;
    background-color: #e7e7e7;
}
#footer .footer1{
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer2{
    width: 80%;
}
#footer .footer2 .footer2-1{
    width: 100%;
    height: 50px;
    text-align: center;
}
#footer .footer2 .footer2-1 ul{
    padding-top: 24px;
}
#footer .footer2 .footer2-1 li{
    display: inline-block;
    border-right: 1px solid #333;
}
#footer .footer2 .footer2-1 li:last-child{
    border: 0;
}
#footer .footer2 .footer2-1 li a{
    padding: 10px;
}
#footer .footer2 .footer2-1 li a:hover{
    text-decoration: underline;
}
#footer .footer2 .footer2-2{
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

/*popup*/
.popup-view{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background-color: #8ec1ff;
    border: 4px solid #0a4288;
    padding: 20px;
    display: none;
}
.popup-view h3{
    font-size: 24px;
    margin-bottom: 15px;
    border-bottom: 2px solid #0a4288;
    color: #0a4288;
    padding-bottom: 10px;
    text-align: center;
}
.popup-view p{
    line-height: 1.6;
}
.popup-close{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    background-color: #0a4288;
    color: #fff;
    padding: 8px 20px;
}