@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    color: #333;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
    vertical-align: top;
}

/*wrap*/
#wrap{
    width: 100%;
}
.container{
    width: 1200px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    position: relative;
}

/*header*/
#header{
    width: 100%;
    height: 100px;
    background-color: black;
}
#header .logo{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*nav*/
#header .nav > ul{
    display: flex;
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 1000;
}
#header .nav > ul > li > a{
    display: inline-block;
    font-size: 18px;
    color: aliceblue;
    font-weight: 600;
    padding: 10px 50px;
    box-sizing: border-box;
}
#header .nav > ul > li > a:hover{
    background-color: #333;
}

#header .nav > ul > li {
    position: relative;
    
}
#header .nav > ul > li > ul {
    position: absolute;
    top: 46px;
    left: 0;
    background-color: #333;
    width: 100%; 
    display: none;
}
#header .nav > ul > li > ul > li > a{
        display: block;
        color: aliceblue;
        padding: 15px;
        box-sizing: border-box;
        text-align: center;
}
#header .nav > ul > li > ul > li > a:hover{
    font-weight: 600;
    background-color: black;
}


/*slider*/
#slider{
    width: 1200px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}
#slider .sliderWrap{
    width: 100%;
    height: 400%;
    display: block;
    overflow: hidden;
}
#slider .sliderWrap .slider{
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    
}
#slider .sliderWrap .s1{
    background-image: url(../images/img1.jpg);
}
#slider .sliderWrap .s2{
    background-image: url(../images/img2.jpg);
}
#slider .sliderWrap .s3{
    background-image: url(../images/img3.jpg);
}
#slider .sliderWrap .slider > h4{
    font-size: 24px;
    font-weight: 600;
    background-color: rgba(0,0,0,0.8);
    color: aliceblue;
    padding: 20px 40px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*contents*/
#contents{
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

/*contents : notice*/
#contents .notice{
    width: 400px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}
#contents .notice > h4{
    font-size: 18px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
#contents .notice > ul > li > a {
    line-height: 1.8;
    display: flex;
    justify-content: space-between;
}
#contents .notice > ul > li > a:hover{
    font-weight: 600;
    text-decoration: underline;
}

/*contents : gallery*/
#contents .gallery{
    width: 400px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}
#contents .gallery > h4{
    font-size: 18px;
    padding-bottom: 10px;
    box-sizing: border-box;
}
#contents .gallery > ul{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
#contents .gallery > ul > li{
    width: 180px;
}
#contents .gallery > ul > li:hover{
    opacity: 0.7;
}

/*contents : banner*/
#contents .banner{
    width: 400px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
    background-image: url(../images/banner.jpg);
    position: relative;
}
#contents .banner > a{
    color: aliceblue;
    background-color: rgba(0,0,0,0.8);
    padding: 10px 20px;
    border-radius: 40px;
    box-sizing: border-box;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#contents .banner > a:hover{
    background-color: black;
}

/*footer*/
#footer{
    width: 100%;
    background-color: #efefef;
}
#footer .footer1{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer2{
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer3{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer .footer3 select{
    width: 90%;
    height: 30px;
}

/*popup*/
.popup-view{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
    padding: 20px;
    box-sizing: border-box;
    width: 350px;
    height: 300px;
    display: none;
}
.popup-view h4{
    color: #efefef;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-bottom: #efefef 1px solid;
}
.popup-view p{
    padding-top: 10px;
    box-sizing: border-box;
    color: #efefef;
    line-height: 1.8;
}
.popup-close{
    background-color: #efefef;
    padding: 10px 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    right: 20px;
}